.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 3vmin);
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}

button {
  margin: 10px;
  padding: 5px;
  width: 100%;
  font-size: 20px;
}
